<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>RockPaperScissors</title>
</head>
<body>
  <div class="container">
    <h1>RockPaperScissors</h1>
    <h5>Player 1 played {{ player1 }}</h5>
    <h5>Player 2 played {{ player2 }}</h5>
    <h4>{{ result }} won.</h4>
  </div>
  <form class="center" action={{ computer ? "/computer" : "/" }}>
    <button type="submit" class="btn-primary">Return Home</button>
  </form>
</body>
</html>
