<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Anagram Comparator</title>
</head>
<body>
  <div class="container">
    <h1>Anagram Comparator</h1>
    <h5>Your input was: {{ word }}</h5>
    <h5>You are testing against these words:
        {% for w in words %}
            <span> [{{ w }}] </span>
        {% endfor %}
    </h5>
    {% if words|length > 1 %}
        <h5>These words are anagrams:
            {% for anagram in anagrams %}
            <span>[{{ anagram }}]</span>
            {% endfor %}
            </h5>
    {% else %}
        <h5>No words are anagrams of {{ word }}.</h5>
    {% endif %}
  </div>
  <form class="center" action="/">
    <button type="submit" class="btn-primary">Return Home</button>
  </form>
</body>
</html>
