<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>RockPaperScissors</title>
</head>
<body>
  <div class="container">
    <h1>RockPaperScissors</h1>
    <p>RockPaperScissors is a game played by 2 people. Each person chooses "Rock", "Paper", or "Scissors" by forming a shape with their hand. They choose at the same time, so that each person doesn't know what the other person has picked. If one person chooses "Rock" and the other person picks "Scissors" then "Rock" wins. It's a game of combinations: Rock v. Scissors = Rock wins
    Rock v. Paper = Paper wins
    Paper v. Scissors = Scissors wins
    If both people choose the same thing, then it is a draw and nobody wins.</p>
  </div>
  <form class="center" action="/generate" method="post">
    <div class="row">
      <div class="form-group col-lg-4">
        <label for="player1">Enter play for Player 1:</label>
        <input class="wide-input" id="player1" name="player1" type="text" maxlength="10" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-4">
        <label for="player2">Enter play for Player 2:</label>
        <input class="wide-input" id="player2" name="player2" type="text" maxlength="10" required>
      </div>
    </div>
    <button type="submit" class="btn-primary">Play!</button>
  </form>
</body>
</html>
